mixin cta(data)
  section.cta
    .cta__container.container
      .cta__w
        h2.cta__title.title.title_big Напишите нам, чтобы получить консультацию по услугам и мы свяжемся с Вами!
        a.cta__button.button(href="#") Заполнить
        img.cta__image(src="assets/images/content/cta-img.svg", alt="")
