mixin testimonials(data)
  section.testimonials
    .testimonials__container.container
      h2.testimonials__title.title.title_regular Отзывы
      .testimonials__slider
        .testimonials__item
          .testimonials__item-w
            .testimonials__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .testimonials__author.flex
              .testimonials__avatar
                img(src="assets/images/content/testimonials-1.png", alt="")
              .testimonials__author-w
                .testimonials__author-name Антон Говоров
                a.testimonials__author-position(href="#") CEO Рога и копыты

        .testimonials__item
          .testimonials__item-w
            .testimonials__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .testimonials__author.flex
              .testimonials__avatar
                img(src="assets/images/content/testimonials-1.png", alt="")
              .testimonials__author-w
                .testimonials__author-name Антон Говоров
                a.testimonials__author-position(href="#") CEO Рога и копыты

        .testimonials__item
          .testimonials__item-w
            .testimonials__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .testimonials__author.flex
              .testimonials__avatar
                img(src="assets/images/content/testimonials-1.png", alt="")
              .testimonials__author-w
                .testimonials__author-name Антон Говоров
                a.testimonials__author-position(href="#") CEO Рога и копыты

        .testimonials__item
          .testimonials__item-w
            .testimonials__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .testimonials__author.flex
              .testimonials__avatar
                img(src="assets/images/content/testimonials-1.png", alt="")
              .testimonials__author-w
                .testimonials__author-name Антон Говоров
                a.testimonials__author-position(href="#") CEO Рога и копыты


        .testimonials__item
          .testimonials__item-w
            .testimonials__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .testimonials__author.flex
              .testimonials__avatar
                img(src="assets/images/content/testimonials-1.png", alt="")
              .testimonials__author-w
                .testimonials__author-name Антон Говоров
                a.testimonials__author-position(href="#") CEO Рога и копыты
