mixin topline(data)
  .topline
    .topline__container.container
      .topline__contacts.contacts.flex
        a.contacts__contact(href="tel:+78129000000")
          != pugHelpers.Icon.call(locals, {iconName: 'phone-icon', className: 'contacts__icon'})
          | +7 (812) 900 00 00
        a.contacts__contact(href="mailto:sales@website.ru")
          != pugHelpers.Icon.call(locals, {iconName: 'mail-icon', className: 'contacts__icon'})
          | sales@website.ru
